FullscreenUI 
{
    transition: all 0.15s ease-out;
    background-color: black;
    z-index: 2;
    transform: scale(1);

    div 
    {
        &:intro
        {
            transform: scale(0.98);
        }
    }
}
