<link rel="stylesheet" href="Hud.scss" />

<root class="panel fullscreen">
    <HintDisplay></HintDisplay>
    <PlayerInfo></PlayerInfo>
    <InventoryWrapper></InventoryWrapper>
    <ChatBox></ChatBox>
    <QuickChat></QuickChat>
    <VoiceChatDisplay></VoiceChatDisplay>
    <RoundTimer></RoundTimer>
    <VoiceList></VoiceList>
    <InfoFeed></InfoFeed>
    <FullscreenUI></FullscreenUI>
    <TabMenus></TabMenus>
    <Crosshair></Crosshair>
    <CarriableHint></CarriableHint>
    <RoleMenu></RoleMenu>
    <DamageIndicator></DamageIndicator>
    <WorldPoints></WorldPoints>
    <SpectatingHint></SpectatingHint>
</root>