Health
{
	position: absolute;
	left: 100px;
	bottom: 138px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	padding: 0 20px;
	align-items: center;
	font-family: Oxanium-Regular;
	background-color: rgba( #333, 0.4 );
	backdrop-filter: blur( 20px );
	border-radius: 10px;
}

Armor
{
	position: absolute;
	left: 100px;
	bottom: 48px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	padding: 0 20px;
	align-items: center;
	font-family: Oxanium-Regular;
	background-color: rgba( #333, 0.4 );
	backdrop-filter: blur( 20px );
	border-radius: 10px;
}

Ammo
{
	position: absolute;
	right: 100px;
	bottom: 48px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	padding: 0 20px;
	align-items: center;
	font-family: Oxanium-Regular;
	background-color: rgba( #333, 0.4 );
	backdrop-filter: blur( 20px );
	border-radius: 10px;
}

Currency
{
	position: absolute;
	right: 100px;
	top: 48px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	padding: 0 20px;
	align-items: center;
	font-family: Oxanium-Regular;
	background-color: rgba( #333, 0.4 );
	backdrop-filter: blur( 20px );
	border-radius: 10px;
}

CurrentTool
{
	position: absolute;
	background-color: rgba( #3472e6, 0.8 );
	backdrop-filter: blur( 50px );
	border-radius: 10px;
	top: 100px;
	left: 100px;
	padding: 20px 50px;
	flex-direction: column;
	opacity: 0.0;


	&.active
	{
		opacity: 1.0;
	}

	.title
	{
		font-size: 40px;
		color: white;
		font-family: Poppins;
		font-weight: 800;
		mix-blend-mode: lighten;
		text-transform: uppercase;
	}

	.description
	{
		font-size: 14px;
		font-weight: normal;
		color: white;
		opacity: 0.8;
		font-family: Poppins;
		font-weight: 500;
		mix-blend-mode: lighten;
		text-transform: uppercase;
	}
}

.spawnmenuopen CurrentTool
{
	opacity: 0.01;
}

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}


	&.devcamera
	{
		display: none;
	}
}


InventoryBar
{
	position: absolute;
	width: 100%;
	bottom: 48px;
	justify-content: center;
	align-items: flex-end;
}

InventoryIcon
{
	width: 80px;
	height: 80px;
	margin: 0px 2px;
	position: relative;
	transition: all 0.6s ease-in-out;
	margin-top: 10px;
	font-family: poppins;
	background-color: rgba( #333, 0.3 );
	backdrop-filter: blur( 50px );
	border-radius: 10px;

	.item-name
	{
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-transform: uppercase;
		mix-blend-mode: lighten;
	}

	.slot-number
	{
		font-size: 25px;
		color: black;
		font-weight: 900;
		opacity: 0.3;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	&.active
	{
		background-color: rgba( #3472e6, 1 );
		transition: all 0.1s ease-out;
		width: 100px;
		height: 100px;

		.slot-number
		{
			color: #fff;
			opacity : 1;
		}

		.item-name
		{
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 13px;
		}
	}
}
