﻿shop
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 1920px;
	padding-bottom: 200px;
	border-radius: 5px;
	pointer-events: none;
	transition: all 0.1s ease-out;
	position: absolute;
	font-family: poppins;
	opacity: 0.8;
	z-index: 200;
	background-color: grey;
}